<div class="jumbotron" style="background-image: url(/assets/seatyourselfpic2.jpeg)">
<h1 class="container">Reservation for <%= @restaurant.name %></h1>
</div>

<!-- <h3>Reservation for <%= @restaurant.name %></h3> -->

<%= render 'form' %>
